
header, article, footer, top-bar {
	margin: 10px auto;
}
header, footer {
	width: 77%; 
	height: 20px; 
	background-color: #fafafa;
}
footer {
	height: 75px;
	margin-top: 160px;
	background-color: white;
	
}
article {
	width: 50%; 
	position: relative; 
	right: -15%; 
	height: 400px; 
	background-color: white;

}
article .title{
	font-family: "Arial-thin",sans-serif;
	font-weight: 500;
	color: black; 
	font-size: 1.5em; 
	letter-spacing: 1.2px; 
	line-height: 0.8em;
	margin-left: 80px;
	padding-top: 35px;
}
.top-bar{
	font-family: 'Cousine',sans-serif ;
	font-weight: 100;
	font-size: 1.8em; 
	letter-spacing: 1.2px; 
	text-align: center;
	padding: 4px;
	width: 50%; 
	position: relative; 
	right: -40%; 
	height: 40px; 
	background-color: white;
}
aside {
	width: 25%; 
	right: 55%; 
	margin-right: 95px; 
	height: 330px; 
	background-color: #fff; 
	position: absolute;
}

aside.fixed {
	position: fixed;
}

aside {
	font-family: "Arial-thin",sans-serif;
	font-weight: 100;
	color: black; 
	font-size: 2.5em; 
	letter-spacing: 1.2px; 
	line-height: 0.8em;
}

.logo{
	margin: 25px;
	font-family: 'Cousine',sans-serif !important;
	font-weight: 100;
	font-size: 2em; 
}

aside .about{
	margin: 25px;
	font-size: .3em; 
}

body {
	background-color: #fafafa;
}
footer .desc{
	text-align: center;
	padding-top: 25px;
}

.desc{
	font-family: 'Cousine',sans-serif !important;
	color: black;
	margin: 15px;
	font-weight: 100;
	/*padding-top: 20px;	*/
	position: relative;
	float: left;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.desc a{
	text-decoration: none;
	color:black;
}
.left-navigation{
	height: 20px;
}
.list {
    list-style: none;
    padding-left: 0px;
    /*margin-bottom: -10px !important;*/
    line-height: 1.5em;

}
.list> li, h5 {
    padding: 5px 0px -5px 40px;
    padding-bottom: -10px;
    color:black;

}
.share{
	
	position: absolute;
	float: right;
	right:0;
	bottom: 0;
	margin-bottom: 15px;
	margin-right: 15px;
	padding: 10px;

	/*padding-top: 15px;
	padding-right: 20px;*/
}
.footnote{
	position: relative;
	text-align: center;
	bottom:10;
	
}

.footnote a{
	font-family: 'Cousine',sans-serif !important;
	font-weight: 200;
	text-decoration: none;
	color:black;
}
.desc a:hover, a h5:hover{
	background-color:black;
	color: white;
	padding: 3px;
}

.list>li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-left: 5px solid gray;
    color: black;
    font-weight: bolder;
    padding-left: 15px;
}

